@model List<StudentRecordManagement.MyModels.Student>

<div>
    <div>
        <button><a class="nav-link" asp-controller="Student" asp-action="Create">Create New</a></button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Class</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td><a asp-controller="Student" asp-action="Create" asp-route-id="@student.StudentId">@student.StudentFirstName</a></td>
                    <td>@student.StudentMiddleName</td>
                    <td>@student.StudentLastName</td>
                    <td>@student.StudentPhone</td>
                    <td>@student.StudentAddress</td>
                    @*<td>@student.ClassName</td>*@
                    <td><a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>